# C / C++ build files
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug information files
*.dwo


# ==========================================
# NYC YELLOW TAXI PROJECT
# ==========================================

# Secrets & Credentials
.env
.env.*
!.env.example
secrets/
credentials/
*.key
*.pem
*.pfx
*.p12

# Azure / Databricks local credentials
.azure/
.databricks/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local data
data/
*.csv
*.parquet
*.json
*.zip

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.bak
